.pagination {
    margin-bottom: 0 !important;
    float: right;
    clear: both;
}

.card-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.progress.progress-xl {
    height: 27px;
}

.cursor-pointer {
    cursor: pointer !important;
}

.bn {
    border: none !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.image_holder {
    position: relative;
    width: 50px;
    margin: auto;
}

.image_holder .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.image_holder:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.image_holder a {
    position: absolute;
    opacity: 0;
    transition: opacity .35s ease;
    width: 37px;
    background-color: #e91e63 !important;
    top: 15px;
    color: #fff !important;
    cursor: pointer;
    left: 6px;
}

.image_holder:hover a {
    opacity: 1;
}

.table td, .table th {
    vertical-align: middle !important;
}

.remove-spaces {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: normal !important;
    font-size: 14px !important;
    text-align: left !important;
}

.modal.show {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.updated_row {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.updated_row .text-muted {
    color: #3c763d !important;
}

.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107;
    font-weight: normal;
    font-size: 11px;
}

.btn-light {
    color: #1f2d3d !important;
    background-color: transparent !important;
    border-color: #9e9e9e4f !important;
    box-shadow: none;
}

[class*=icheck-] > input:first-child + input[type=hidden] + label::before, [class*=icheck-] > input:first-child + label::before {
    border: 1px solid #607D8B !important;
}

.login-card-body, .register-card-body {
    background: #f4f6f8 !important;
}

.force_hide {
    display: none !important;
}

.force_show {
    display: block !important;
}

[class*=icheck-] > input:first-child + input[type=hidden] + label::before, [class*=icheck-] > input:first-child + label::before {
    width: 18px !important;
    height: 18px !important;
    border: 1px solid #D3CFC8 !important;
    margin-left: -27px;
    border-radius: 3px !important;
}

[class*=icheck-] > input:first-child:checked + input[type=hidden] + label::after, [class*=icheck-] > input:first-child:checked + label::after {
    top: -3px !important;
    left: -1px !important;
    width: 5px !important;
    height: 12px !important;
}

.show_inline {
    display: flex !important;
}

.hide {
    display: none;
}
